<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column top-buffer ">
            <h3 class="text-center">
                Record
            </h3>

            <div class="row">
                <div class="col-md-6 col-md-offset-3 column top-buffer">
                  <audio id="myAudio" controls>
                    <source src="/audio/AllOutOfLove.mp3" type='audio/mpeg' />
                  </audio>

                  <form>
                    Playback Rate <span id="currentPbr">1</span>
                    <input id="pbr" type="range" value="1"
                                    min="0.5" max="4" step="0.1" >
                  </form>

                  <%= form_for @record, url: create_note_path, html: {class: "input-group"} do |f| %>
                      <%= f.text_area :note, content: @record.note, cols: 80, rows: 20, class: "form-control" %>
                      <%= f.hidden_field :transcribed, value: true %>
                      <%= f.submit "Submit", class: "btn btn-primary top-buffer" %>
                  <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

<%= javascript_tag do %>

  var v = document.getElementById("myAudio");
  var p = document.getElementById("pbr");
  var c = document.getElementById("currentPbr");

  p.addEventListener('input',function(){
    c.innerHTML = p.value;
    v.playbackRate = p.value;
  }, false);

<% end %>

