<div class="container">
  <div class="row clearfix">
      <div class="col-md-12 column top-buffer white-background">
        <h3 class="text-center">
          Finished Reported
        </h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Patient</th>
              <th>Report type</th>
              <th>Created at</th>
              <th>Submitted at</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @reports.each do |report| %>
              <tr>
                <td><%= report.id %></td>
                <td><%= report.patient %></td>
                <td><%= report.rtype %></td>
                <td><%= report.created_at.strftime("%B %d %I:%M %p") %></td>
                <td><%= report.updated_at.strftime("%B %d %I:%M %p") %></td>
                <td>
                  <%= link_to "#", class: "pdfpreview" do %>
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                  <% end %>
                  <%= link_to download_report_path(report) do %>
                    <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div id="dialog" style="display:none">
      <div>
        <iframe src="reports/003.pdf" width="100%" height="600" style="border: none;"> </iframe>
      </div>
    </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.pdfpreview').click(function(){
      $("#dialog").dialog({
        modal: true,
        width: 800
      });
    });
  });
</script>
