<h1>Listing reports</h1>

<table>
  <thead>
    <tr>
      <th>Report ID</th>
      <th>Patient ID</th>
      <th>Report type</th>
      <th>Created at</th>
      <% if @status == "finished" %> <th>Submitted at</th> <% else %> <th>Updated at</th> <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <% @reports.each do |report| %>
        <tr>
          <td><%= report.id %></td>
          <td><%= report.patientID %></td>
          <td><%= report.rtype %></td>
          <td><%= report.created_at %></td>
          <td><%= report.updated_at %></td>
          <% if @status == "finished" %> <td><%= link_to 'Download', '#' %></td> <% else %> <td><%= link_to 'Show', report %> <% end %> </td>
        </tr>
      <% end %>
  </tbody>
</table>
