<div class="container">
  <div class="row clearfix">
      <div class="col-md-12 column top-buffer white-background">
        <h3 class="text-center">
          <% if @status == "finished" %> Finished Reported <% else %> Unfinished Reports <% end %>
        </h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Patient</th>
              <th>Report type</th>
              <th>Created at</th>
              <% if @status == "finished" %> <th>Submitted at</th><th>Download</th> <% else %> <th>Updated at</th><th>Show</th> <% end %>
            </tr>
          </thead>
          <tbody>
            <% @reports.each do |report| %>
              <tr>
                <td><%= report.id %></td>
                <td><%= report.patient %></td>
                <td><%= report.rtype %></td>
                <td><%= report.created_at.strftime("%B %d %I:%M %p") %></td>
                <td><%= report.updated_at.strftime("%B %d %I:%M %p") %></td>
                <% if @status == "finished" %> <td><%= link_to download_report_path(report) do %> <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> <% end %></td> <% else %> <td><%= link_to report do %> <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> <% end %> <% end %> </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
</div>
