<div class="container">
  <div class="row clearfix">
      <div class="col-md-12 column top-buffer white-background">
        <div class="row clearfix">
          <div class="col-md-12 column">
            <h3 class="text-center">
              Photos
            </h3>
            <div class="row top-buffer">
                <div class="col-md-8 col-md-offset-2">
                    <%= form_for @report, url: upload_photos_path, html: {class: "dropzone", id: "media-dropzone"} do |f| %>

                    <% end %>
                </div>
            </div>
            <div class="row top-buffer" id="thumbnails">
                  <%= render partial: 'thumbnail', locals: {photos: @photos} %>
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-md-12 column">
            <h3 class="text-center">
              Records
            </h3>
            <table class="table table-hover ">
              <thead>
                <tr>
                  <th>Type</th>
                  <th>Length</th>
                  <th>Transcribed</th>
                  <th>Record</th>
                  <th>Transcription</th>
                </tr>
              </thead>

              <tbody>
                  <% @records.each do |record| %>
                    <tr>
                      <td data-toggle="collapse" href="#collapseExample_<%= record.id %>" aria-expanded="false" aria-controls="collapseExample"><%= record.rtype %></td>
                      <td><%= record.length %></td>
                      <td>
                        <% if record.transcribed %>
                          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        <% else %>
                          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        <% end %>
                      </td>
                      <td>
                        <%= link_to record do %>
                          <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                        <% end %>
                      </td>
                      <td>
                        <% if record.note %>
                          <%= link_to record_note_path(record) do %>
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                          <% end %>
                        <% else %>
                          <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        <% end %>
                      </td>
                    </tr>
                    <tr class="collapse out" id="collapseExample_<%= record.id %>">
                      <td>
                        <div class="well">
                          <%= record.note || "..." %>
                        </div>
                      </td>
                    </tr>
                  <% end %>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row clearfix">
          <div class="col-md-4 col-md-offset-4 column">
            <%= button_to "Submit Report", submit_report_path(@report), method: :patch, class: "btn btn-success" %>
          </div>
        </div>
        <div class="row clearfix top-buffer"></div>
      </div>
    </div>
</div>

<script type="text/javascript">
  $(function() {
    Dropzone.options.mediaDropzone = {
      paramName: "photo",
      init: function () {
        this.on("queuecomplete", function (file) {
          $.get("/reports/<%= @report.id %>/refresh_thumbnail.js", function(data) {
                $("#thumbnails").html(data);
              },
              "html");
        });
      }
    };
  });
</script>