<div class="container">
  <div class="row clearfix">
      <div class="col-md-12 column top-buffer white-background">
        <div class="row clearfix">
          <div class="col-md-12 column">
            <h3 class="text-center">
              Photos
            </h3>
            <div class="row top-buffer">
                <div class="col-md-4 col-md-offset-2">
                    <%= form_for @report, url: upload_photos_path, html: {:multipart => true, class: "input-group"} do |f| %>
                        <%= f.file_field :photos, :multiple => true, name: "photos[photo][]", class: "form-control" %>
                        <span class="input-group-btn">
                            <%= f.submit "Upload photos", class: "btn btn-primary" %>
                        </span>
                    <% end %>
                </div>
                <div class="col-md-2">
                    <%= button_to "Delete All Photos", destroy_photos_path(@report), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure?"} %>
                </div>
            </div>
            <div class="row top-buffer">
              <% if @photos %>
                <% @photos.each do |photo| %>
                  <div class="col-md-4">
                    <div class="thumbnail">
                      <%= image_tag photo.photo_url.to_s %>
                      <div class="caption text-center">
                        <%= link_to "Delete Photo", destroy_photo_path(photo), method: :delete, data: {confirm: "Are you sure?"} %>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-md-12 column">
            <h3 class="text-center">
              Records
            </h3>
            <table class="table table-hover ">
              <thead>
                <tr>
                  <th>Type</th>
                  <th>Length</th>
                  <th>Transcribed</th>
                  <th>Record</th>
                </tr>
              </thead>

              <tbody>
                  <% @records.each do |record| %>
                    <tr>
                      <td><%= record.rtype %></td>
                      <td><%= record.length %></td>
                      <td>
                        <% if record.transcribed %>
                          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        <% else %>
                          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        <% end %>
                      </td>
                      <td>
                        <%= link_to record do %>
                          <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                        <% end %>

                      </td>
                    </tr>
                  <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>